@model Cumulative.Models.Course;

<h1>@Model.CourseCode @Model.CourseName</h1>

<p>Course id: @Model.CourseId</p>
<p>Course code: @Model.CourseCode</p>
<p>Course name: @Model.CourseName</p>
<p>Teacher id: @Model.TeacherId</p>
<p>Start date: @Model.StartDate</p>
<p>Finish date: @Model.EndDate</p>